
a:link, a:visited {
    color:white;
    background-color: rgb(136, 198, 243);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: rgb(25, 59, 153);
}